doctype
html
  head
    title Rosa the Bot. The News Feed Assistant.
  body
    .container
      .main-content
        a(href=#{fbUrl}) Share on Facebook
        a(href=#{twUrl}) Share on Twitter
        a(href=#{liUrl}) Share on LinkedIn