doctype
html
  head
    title Rosa the Bot. The News Feed Assistant.
  body
    header
      h1 Share to your Social Networks. #{title}
    .container
      .main-content
        p Share to Facebook
        p Share to Twitter
        p Share to LinkedIn