doctype
html
  head
    title Rosa the Bot. The News Feed Assistant.
  body
    .container
      .main-content
        p
            a(href='#{fbUrl}') Share on Facebook
        p
            a(href='#{twUrl}') Share on Twitter
        p
            a(href='#{liUrl}') Share on LinkedIn